h2 {
    font-size: 60px;
    line-height: 1.32;
}

.navigation a {
    
    text-decoration: none;
    margin-right: 45px;
    font-family: nunito-semibold;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 2.4px;
    color: #696970;
    margin-bottom: 130px;

    &:hover {
        font-family: nunito-extrabold;
        border-bottom: 2px solid $primary-color;
        text-decoration: none;
    }
}


.explore-more-link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 2.8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    i {
        margin-left: 22px;
    }
}
.slider-dots {
    list-style:none;
    display:flex;
    align-items: center;
    margin: 0;
    padding:0;
    cursor: pointer;
    .slider-dot {
        display:block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 20px;
        &.active {
            width: 12px;
            height: 12px;
        }
    }
}

.social-icons {
    list-style: none;
    margin-top: 140px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    i {
        text-decoration: none;
        color: black;
        margin-bottom: 40px;
    }
    i:hover {
        color:#b4d3d3;
    }
}

.profile-screen {
    box-sizing: border-box;
    justify-content: space-between;
    width: 1920px;
    padding: 120px;


    .slider-photo {
        width: 649px;
        height: 948px;
        background-color: #e2e8e8;
        position: relative;
        .slider-dots {
            position: absolute;
            bottom: 33px;
            left: 324.5px;
            transform: translateX(-50%);
            .slider-dot {
                background-color: #fff;
            }
        }
    }
    
    .person-about {
        margin-right: auto;
        margin-left: 190px;
        width: 477px;

        .nav-about {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 437px;
            padding: 0;
            margin: 91px 0 0 0;
            .nav-about-item {
                letter-spacing: 2.4px;
                text-transform: uppercase;
                font-size: 12px;
                a {
                    text-decoration: none;
                    color: #696970;
                    cursor: pointer;
                }
                &.active a {
                    color: $primary-color;
                    position: relative;
                    &:after {
                        content:"";
                        display: block;
                        position: absolute;
                        bottom: -16px;
                        left:0px;
                        transform: translateX(-25%);
                        height: 2px;
                        background-color: black;
                        width: 120px;
                    }
                }
            }
        }
        h2 {
            margin: 138px 0 0 0;
        }
        p {
            font-size: 16px;
            line-height: 1.88;
            color: #767679;
            &.second-paragraph {
                margin-bottom: 109px;
            }
        }
        p.subtitle{
            font-size: 24px;
            line-height: 1.5;
            color: $primary-color;
            margin: 23px 0 0 0;
        }
        p.awards{
            font-size: 16px;
            line-height: 2.5;
            color: $primary-color;
            margin: 13px 0 42px 0;
            i {
                margin-right: 20px;
            }
        }        
    }
  
}

